@import url("styles/header.css");
@import url("styles/banner.css");
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root{
    --cor-de-fundo : #f475a8;
    --verde-starbucks : #015f3f;
    --fonte-texto : "Livvic", sans-serif;
    --fonte-titulo : 'Fonte-Titulo', monospace;
}

@font-face {
    font-family: 'Fonte-Titulo';
    src: url("font/KyivTypeSans-Heavy-.otf") format('woff');
    font-weight: 700;
    font-style: normal;
}

body, html{

    background-color: var(--cor-de-fundo);
}
