.banner{

}

.banner-conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-titulo{
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: 900;
    color: white;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

}

strong{
    color: var(--verde-starbucks)
}

.banner-texto{
    text-align: center;
}