
.banner-conteudo{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.banner-titulo{
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    width: 20rem;
}

strong{
    color: var(--verde-starbucks)
}

.banner-texto{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: var(--fonte-texto);
    font-weight: 600;
    color: white;
    font-size: 0.9rem;
}