.img-cafe{
    display: flex;
    justify-content: center;
}

.fundo{

}

.produto-img{
    height: 22rem;
    margin-top: 15rem;
    position: absolute;
}

.fundo-img{
    margin-top: 14rem;
    height: 25rem;
    float: right;

}
