.img-cafe{
    display: flex;
    justify-content: center;
}

.produto-img{
    height: 22rem;
    margin-top: 16rem;
    margin-bottom: 1rem;
    position: absolute;
}

.fundo-img{
    margin-top: 14rem;
    height: 25rem;
    float: right;
}
